.hero{
  margin-block-end: 5rem;
}
.hero-container{
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  padding-block-start: 1rem;
}
.hero-image{
  margin-block-end: 1.5rem;
}
.hero-image img{
  display: block;
  inline-size: 100%;
  max-inline-size: 23.75rem;
  max-inline-size: 20rem;
  margin: 0 auto;
  border-radius: 50%;
}
.hero-content{
  block-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-title{
  color: var(--blue10);
  margin: 0;
}
@media screen and (min-width: 768px){
  .hero{
    margin-block-end: 0;
  }
  .hero-container{
    grid-template-columns: repeat(12, 1fr);
    padding-block-start: 2rem;
  }
  .hero-image{
    grid-column: 1/5;
    margin-block-end: 0;
  }
  .hero-image img{
    max-inline-size: 23.75rem;
  }
  .hero-content{
    grid-column: 7/-1;
    background-color: var(--gray10);
    padding: 0 1rem;
  }
  .hero-title{
    font-size: 2.625rem;
  }
}
@media screen and (min-width: 1200px){
  .hero-title{
    font-size: 3.2rem;
  }
}