@import './nav.css';
@import './trailer.css';
@import './genres.css';
@import './detailsMovie.css';
@import './popular.css';

@font-face {
  font-family: 'NetflixN';
  src: url('../assets/fonts/NetflixSans-Regular.otf');
}

:root{
  --black10: #141414;
  --white: #fff;
  --gray10: #e5e5e5;
  --gray15: #747474;
  --gray20: #6d6d6eb3;
}

body{
  margin: 0;
  font-family: 'NetflixN';
  background-color: var(--black10);
  color: var(--gray10);
}