.row{
  gap: 15px;
}
.text__white{
  color: #fff !important;
}
.home__title{
  color: #055160 !important;
}
.product_title{
  color: #055160;
  font-size: 1.5em;
  font-weight: 600;
}
.product__description{
  font-size: 1.2em;
  padding-top: 10px;
  text-align: left;
}
.product__price{
  font-size: 1.7em;
  padding-top: 10px;
  color: #0aa2c0;
  font-weight: 600;
}
.product__btn{
  background-color: #055160 !important;
  color: #fff !important;
  /* margin: 10px 15px; */
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}
.product__btn:hover{
  background-color: #042a32 !important;
}